body {
    font-family: Arial;
    background: #cce3ff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-box {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background: #0066ff;
    color: white;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px #888;
}

.button-row button {
    margin: 15px;
}
